/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1700px;
  width: 100vw;
  background-image: url(../assets/bg_top.jpg);
  background-repeat: no-repeat;
}

header .header-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-upper .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 85vw;
  max-width: 850px;
  height: 10vh;
}

header .header-upper .header-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-upper .header-nav nav.active {
  opacity: 0.9;
  visibility: visible;
}

@media (min-width: 768px) {
  header .header-upper .header-nav nav {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    height: auto;
    width: auto;
  }
}

header .header-upper .header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (min-width: 768px) {
  header .header-upper .header-nav nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    visibility: visible;
    color: black;
  }
}

header .header-upper .header-nav nav ul li {
  padding: 15px 0;
}

@media (min-width: 768px) {
  header .header-upper .header-nav nav ul li {
    margin-left: 20px;
  }
}

header .header-upper .header-nav nav ul li a {
  color: white;
  text-decoration: none;
}

header .header-upper .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  z-index: 10;
}

@media (min-width: 768px) {
  header .header-upper .hamburger {
    display: none;
  }
}

header .header-upper .hamburger::before {
  content: '';
  position: absolute;
  height: 45px;
  width: 45px;
  -webkit-transform: translate(-12px, -10px);
          transform: translate(-12px, -10px);
  background-color: #25365d;
  border-radius: 50%;
}

header .header-upper .hamburger__box {
  width: 20px;
  height: 24px;
  display: inline-block;
  position: relative;
}

header .header-upper .hamburger__box__inner {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .header-upper .hamburger__box__inner::before, header .header-upper .hamburger__box__inner::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-upper .hamburger__box__inner::before {
  top: -7px;
}

header .header-upper .hamburger__box__inner::after {
  top: 7px;
}

header .header-upper .hamburger.active .hamburger__box__inner {
  background-color: transparent;
}

header .header-upper .hamburger.active .hamburger__box__inner::before {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

header .header-upper .hamburger.active .hamburger__box__inner::after {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

header .header-upper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90vh;
  max-height: 600px;
  width: 85vw;
  max-width: 850px;
}

@media (min-width: 768px) {
  header .header-upper .header-content {
    height: 80vh;
    max-height: 500px;
    width: 65vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1600px) {
  header .header-upper .header-content {
    height: 80vh;
    max-height: 500px;
    width: 45vw;
    height: 50vh;
  }
}

header .header-upper .header-content h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media (min-width: 768px) {
  header .header-upper .header-content h1 {
    font-size: 4.8rem;
  }
}

@media (min-width: 990px) {
  header .header-upper .header-content h1 {
    font-size: 6.2rem;
  }
}

@media (min-width: 1600px) {
  header .header-upper .header-content h1 {
    font-size: 7.2rem;
  }
}

header .header-upper .header-content p {
  color: #bbd8ff;
  text-align: center;
}

header .header-upper .header-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 217px;
  background-color: #25365d;
  border: none;
  border-radius: 28px;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 50px;
}

header .header-upper .header-content button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

header .header-upper .header-content button:active {
  background-color: #25365d;
  -webkit-box-shadow: inset 0px 0px 5px 0px black;
          box-shadow: inset 0px 0px 5px 0px black;
}

header .header-upper .header-content button span {
  margin: 15px;
}

.header-download {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  max-width: 1000px;
  padding-bottom: 50px;
  z-index: 2;
}

@media (min-width: 990px) {
  .header-download {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 450px;
  }
}

@media (min-width: 1600px) {
  .header-download {
    margin-bottom: 50px;
  }
}

.header-download h2 {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #25365d;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .header-download h2 {
    font-size: 5.2rem;
  }
}

.header-download p {
  margin-top: 10px;
  color: #5a5a5a;
  max-width: 600px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header-download ul {
  margin-top: 10px;
  list-style: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header-download ul li {
  background: url("../assets/list_checked.png") no-repeat 0 5px;
  padding-left: 25px;
  color: #93aac9;
}

.header-download button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 217px;
  background-color: #25365d;
  border: none;
  border-radius: 28px;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
}

.header-download button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-download button:active {
  background-color: #25365d;
  -webkit-box-shadow: inset 0px 0px 5px 0px black;
          box-shadow: inset 0px 0px 5px 0px black;
}

.header-download button span {
  margin: 15px;
}

@media (min-width: 990px) {
  .header-download button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.header-download__img {
  z-index: -1;
}

.header-download__img img {
  padding: 20px;
}

@media (min-width: 990px) {
  .header-download__img img {
    position: absolute;
    bottom: 50px;
    left: 400px;
  }
}

@media (min-width: 1600px) {
  .header-download__img img {
    position: absolute;
    bottom: 50px;
    left: 350px;
  }
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f7f9fb;
  width: 100vw;
  padding: 50px 0;
}

.additional-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85vw;
  max-width: 1000px;
  margin: 50px 0;
}

.additional-info__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 266px;
  height: 80px;
  margin: 20px 0;
}

@media (min-width: 990px) {
  .additional-info__wrapper__item {
    margin: 20px 20px;
  }
}

.additional-info__wrapper__item__imgwrapper {
  min-width: 57px;
  margin-top: 5px;
}

.additional-info__wrapper__item__imgwrapper img {
  margin: 0 auto;
  max-height: 35px;
}

.additional-info__wrapper__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.additional-info__wrapper__item__text h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #25365d;
  text-transform: uppercase;
}

.additional-info__wrapper__item__text p {
  color: #5a5a5a;
  font-size: 1.2rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  padding: 50px 0;
}

.features__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  max-width: 766px;
}

@media (min-width: 1600px) {
  .features__wrapper {
    max-width: 1100px;
  }
}

@media (min-width: 1900px) {
  .features__wrapper {
    margin: 50px 0;
  }
}

.features__wrapper h2 {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #25365d;
  text-align: center;
}

@media (min-width: 768px) {
  .features__wrapper h2 {
    font-size: 5.2rem;
  }
}

.features__wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__wrapper__content__item {
  margin: 20px 20px;
  max-width: 195px;
}

@media (min-width: 1600px) {
  .features__wrapper__content__item {
    display: none;
  }
}

.features__wrapper__content__item h3 {
  position: relative;
  border-bottom: 1px solid #FF2868;
  width: 80%;
  font-weight: 600;
  color: #25365d;
}

.features__wrapper__content__item p {
  color: #5a5a5a;
  font-size: 1.4rem;
  margin-top: 10px;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-color: #f7f9fb;
}

.plans__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 85vw;
  max-width: 1000px;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .plans__wrapper {
    width: 80vw;
  }
}

@media (min-width: 1900px) {
  .plans__wrapper {
    margin: 50px 0;
  }
}

.plans__wrapper p {
  color: #5a5a5a;
}

.plans__wrapper__top h2 {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #25365d;
}

@media (min-width: 768px) {
  .plans__wrapper__top h2 {
    font-size: 5.2rem;
  }
}

.plans__wrapper__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.plans__wrapper__cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 237px;
  height: 200px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(37, 54, 93, 0.25);
          box-shadow: 0px 0px 12px 4px rgba(37, 54, 93, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.plans__wrapper__cards__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.plans__wrapper__cards__item h4 {
  font-weight: 400;
  color: #5a5a5a;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 1600px) {
  .plans__wrapper__cards__item h4 {
    font-size: 1.8rem;
  }
}

.plans__wrapper__cards__item p {
  font-size: 1.4rem;
}

.plans__wrapper__cards__item p span {
  color: #25365d;
  font-size: 4.8rem;
  font-weight: bold;
}

.plans__wrapper__cards__item p span span {
  font-size: 2.6rem;
}

.plans__wrapper__cards__item p:last-of-type {
  font-size: 1.2rem;
}

.plans__wrapper__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  height: 300px;
}

.plans__wrapper__bottom h5 {
  font-size: 2.2rem;
  color: #25365d;
  text-transform: uppercase;
  font-weight: normal;
}

.plans__wrapper__bottom__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .plans__wrapper__bottom__contact {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.plans__wrapper__bottom__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
}

.plans__wrapper__bottom__contact a p {
  color: #25365d;
  font-weight: bold;
  font-size: 2.2rem;
  margin-left: 5px;
}

.plans__wrapper__bottom__contact a__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.plans__wrapper__bottom__contact a__item p {
  margin-left: 10px;
}

footer {
  height: 1106px;
  background-image: url("../assets/bg_bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

@media (min-width: 1900px) {
  footer {
    height: 100vh;
  }
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 85vw;
  max-width: 766px;
  height: 100vh;
  max-height: 600px;
}

@media (min-width: 768px) {
  footer .footer__wrapper {
    max-height: 500px;
  }
}

@media (min-width: 1900px) {
  footer .footer__wrapper {
    max-width: 1000px;
    max-height: 400px;
    margin-top: 30px;
  }
}

footer .footer__wrapper h2 {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #25365d;
}

@media (min-width: 768px) {
  footer .footer__wrapper h2 {
    font-size: 5.2rem;
  }
}

footer .footer__wrapper p {
  color: #5a5a5a;
}

footer .footer__wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 217px;
  background-color: #25365d;
  border: none;
  border-radius: 28px;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__wrapper button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

footer .footer__wrapper button:active {
  background-color: #25365d;
  -webkit-box-shadow: inset 0px 0px 5px 0px black;
          box-shadow: inset 0px 0px 5px 0px black;
}

footer .footer__wrapper button span {
  margin: 15px;
}
/*# sourceMappingURL=style.css.map */