@import './variables';
@import './mixins';

.additional-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $section-gray;
  width: 100vw;
  padding: 50px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    max-width: 1000px;
    margin: 50px 0;

    &__item {
      display: flex;
      max-width: 266px;
      height: 80px;
      margin: 20px 0;

      @include mq (tablet-large) {
        margin: 20px 20px;
      }

      &__imgwrapper {
        min-width: 57px;
        margin-top: 5px;

        img {
          margin: 0 auto;
          max-height: 35px;
        }

      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;

        h3 {
          font-size: 1.4rem;
          font-weight: 600;
          color: $dark-blue;
          text-transform: uppercase;
        }

        p {
          color: $text-gray;
          font-size: 1.2rem;
        }
      }
    }
  }
}