@import './variables';
@import './mixins';


.header-download {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  max-width: 1000px;
  padding-bottom: 50px;
  z-index: 2;

  @include mq(tablet-large) {
    justify-content: space-between;
    height: 450px;
  }

  @include mq(desktop-medium) {
    margin-bottom: 50px;
  }

  h2 {
    @include section-title;
    align-self: flex-start;
  }

  p {
    margin-top: 10px;
    color: $text-gray;
    max-width: 600px;
    align-self: flex-start;
  }

  ul {
    margin-top: 10px;
    list-style: none;
    align-self: flex-start;

    li {
      background: url('../assets/list_checked.png') no-repeat 0 5px;
      padding-left: 25px;
      color: $text-light-blue_darker;
    }
  }

  button {
    @include blue-button;
    margin-top: 40px;

    @include mq(tablet-large) {
      align-self: flex-start;
    }
  }

  &__img {
    z-index: -1;

    img {
      padding: 20px;

      @include mq(tablet-large) {
        position: absolute;
        bottom: 50px;
        left: 400px;
      }


      @include mq(desktop-medium) {
        position: absolute;
        bottom: 50px;
        left: 350px;
      }
    }
  }
}