@import './variables';
@import './mixins';

.features {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 50px 0;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    max-width: 766px;

    @include mq(desktop-medium) {
      max-width: 1100px;
    }

    @include mq(desktop-large) {
      margin: 50px 0;
    }

    h2 {
      @include section-title;
      text-align: center;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &__item {
        margin: 20px 20px;
        max-width: 195px;

        @include mq(desktop-medium) {
          display: none;
        }

        h3 {
          position: relative;
          border-bottom: 1px solid #FF2868;
          width: 80%;
          font-weight: 600;
          color: $dark-blue;
        }

        p {
          color: $text-gray;
          font-size: 1.4rem;
          margin-top: 10px;
        }
      }
    }
  }
}