@import './variables';
@import './mixins';

footer {
  height: 1106px;
  background-image: url('../assets/bg_bottom.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  width: 100vw;

  @include mq(desktop-large) {
    height: 100vh;
  }


  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 85vw;
    max-width: 766px;
    height: 100vh;
    max-height: 600px;

    @include mq(tablet) {
      max-height: 500px;
    }

    @include mq(desktop-large) {
      max-width: 1000px;
      max-height: 400px;
      margin-top: 30px;
    }


    h2 {
      @include section-title;
    }

    p {
      color: $text-gray;
    }

    button {
      @include blue-button;
    }
  }
}