@import './variables';
@import './mixins';

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1700px;
  width: 100vw;
  background-image: url(../assets/bg_top.jpg);
  background-repeat: no-repeat;


  .header-upper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-nav {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 85vw;
      max-width: 850px;
      height: 10vh;

      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        font-size: 1.8rem;
        font-weight: bold;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: 0.3s;

        &.active {
          opacity: 0.9;
          visibility: visible;
        }

        @include mq(tablet) {
          position: static;
          visibility: visible;
          opacity: 1;
          background-color: transparent;
          height: auto;
          width: auto;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;

          @include mq(tablet) {
            flex-direction: row;
            visibility: visible;
            color: black;
          }

          li {
            padding: 15px 0;

            @include mq(tablet) {
              margin-left: 20px;
            }

            a {
              color: white;
              text-decoration: none;
            }
          }
        }

      }
    }

    .hamburger {
      display: flex;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
      z-index: 10;

      @include mq(tablet) {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        height: 45px;
        width: 45px;
        transform: translate(-12px, -10px);
        background-color: $dark-blue;
        border-radius: 50%;
      }

      &__box {
        width: 20px;
        height: 24px;
        display: inline-block;
        position: relative;

        &__inner {
          width: 100%;
          height: 3px;
          background-color: white;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          &::before,
          &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: white;
            position: absolute;
            left: 0;
            transition: 0.3s;
          }

          &::before {
            top: -7px;
          }

          &::after {
            top: 7px;
          }
        }
      }

      &.active .hamburger__box__inner {
        background-color: transparent;
      }

      &.active .hamburger__box__inner::before {
        transform: translateY(7px) rotate(45deg);
      }

      &.active .hamburger__box__inner::after {
        transform: translateY(-7px) rotate(-45deg);
      }
    }


    .header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 90vh;
      max-height: 600px;
      width: 85vw;
      max-width: 850px;

      @include mq(tablet) {
        height: 80vh;
        max-height: 500px;
        width: 65vw;
        justify-content: center;
      }

      @include mq(desktop-medium) {
        height: 80vh;
        max-height: 500px;
        width: 45vw;
        height: 50vh;
      }

      h1 {
        font-family: 'Bebas Neue', sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;

        @include mq(tablet) {
          font-size: 4.8rem;
        }

        @include mq(tablet-large) {
          font-size: 6.2rem;
        }

        @include mq(desktop-medium) {
          font-size: 7.2rem;
        }
      }

      p {
        color: $text-light-blue;
        text-align: center;
      }

      button {
        @include blue-button;
        margin-top: 50px;
      }
    }
  }

}