@import './variables';

@mixin blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 217px;
  background-color: $dark-blue;
  border: none;
  border-radius: 28px;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  &:active {
    background-color: $dark-blue;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
  }

  span {
    margin: 15px;
  }


}

@mixin section-title {
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  color: $dark-blue;

  @include mq(tablet) {
    font-size: 5.2rem;
  }
}

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if($size) {
    @media #{$size} {
      @content;
    }
  }
}