@import './variables';
@import './mixins';

.plans {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: $section-gray;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 85vw;
    max-width: 1000px;
    padding: 50px 0;

    @include mq(tablet) {
      width: 80vw;
    }

    @include mq(desktop-large) {
      margin: 50px 0;
    }

    p {
      color: $text-gray;
    }

    &__top {
      h2 {
        @include section-title;
      }
    }

    &__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 50px 0;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 237px;
        height: 200px;
        margin: 10px;
        box-shadow: 0px 0px 12px 4px rgba(37, 54, 93, 0.25);
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        h4 {
          font-weight: 400;
          color: $text-gray;
          font-size: 1.2rem;
          text-transform: uppercase;

          @include mq(desktop-medium) {
            font-size: 1.8rem;
          }
        }

        p {
          font-size: 1.4rem;

          span {
            color: $dark-blue;
            font-size: 4.8rem;
            font-weight: bold;

            span {
              font-size: 2.6rem;
            }
          }
        }

        p:last-of-type {
          font-size: 1.2rem;
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 550px;
      height: 300px;

      h5 {
        font-size: 2.2rem;
        color: $dark-blue;
        text-transform: uppercase;
        font-weight: normal;
      }

      &__contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
        width: 100%;

        @include mq(tablet) {
          justify-content: space-evenly;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          text-decoration: none;

          p {
            color: $dark-blue;
            font-weight: bold;
            font-size: 2.2rem;
            margin-left: 5px;
          }

          &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0;
            flex-grow: 1;

            p {
              margin-left: 10px;
            }
          }

        }
      }
    }
  }
}