$dark-blue: #25365d;
$dark-blue-hover:#121a2d;
$text-light-blue: #bbd8ff;
$section-gray: #f7f9fb;
$text-gray: #5a5a5a;
$text-light-blue_darker: #93aac9;

$breakpoints: (smartphone: (min-width: 481px),
  tablet:(min-width: 768px),
  tablet-large:(min-width: 990px),
  desktop-small:(min-width:1024px),
  desktop-medium:(min-width:1600px),
  desktop-large:(min-width:1900px),
);