@import 'reset';
@import 'variables';
@import 'mixins';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

@import 'header';
@import 'download';
@import 'additional-info';
@import 'features';
@import 'plans';
@import 'footer';